.button {
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.section-hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-footer__button {
    padding: 10px 28px;
}

.button--icon {
    vertical-align: middle;
    margin-left: 10px;
    fill: var(--primary-color);
}

.form-modal__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
}